.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-template-rows: auto auto auto auto;
}

.grid > div {
	display: flex;
	font-size: 2 vw;
	color:  black;
}

.header {
	grid-column: 1 / -1;
	margin: 0 auto;
}

.header > img {
	max-width: 100vw;
	height: auto;
}

.menu {
	grid-column: 1 / -1;
	max-width: 100vw;
	margin: 0 auto;
}

.content {
	grid-column: 1 / -1;
	max-width: 100vw;
	margin: 0 auto;
	font-size: 16vw;
}

.navigation > ul {	
	display: grid;
	grid-template-columns: repeat(auto-fit);
	grid-template-rows: auto;
}

.nav-item {
	display: inline;
	grid-row: 1 / -1;
	padding: 1vw;
}

.footer {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-template-rows: auto auto;
}

.address {
	grid-column: 1 / -1;
	margin: 0 auto;
}

.contact {
	grid-column: 2 / -1;
	margin: 0 auto;
}


.footer > img {
	max-width: 100vw;
	height: auto;
}